<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Basic demo of FlashWavRecorder</title>
    <link type="text/css" rel="stylesheet" href="static/css/basic.css">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">

</head>
<body>

<div class="container">

    <h1><span class="basic">Basic demo of</span><span class="project-name">FlashWavRecorder</span></h1>

    <section class="recorder-container">
        <script type="text/javascript" src="static/js/flash-audio-recorder/jquery.js"></script>
        <script type="text/javascript" src="static/js/context-audio-recorder/context-audio-recorder.js"></script>
        <script type="text/javascript" src="static/js/recorder-wrapper.js"></script>
        <button class="stop-recording" id="context-recorder">
            <img src="static/images/mic.png"/>
        </button>
    </section>

    <section class="recorder-container">

        <script type="text/javascript" src="static/js/flash-audio-recorder/swfobject.js"></script>
        <script type="text/javascript" src="static/js/flash-audio-recorder/recorder.js"></script>
        <script type="text/javascript" src="static/js/flash-audio-recorder/basic.js"></script>
        <!-- Recorder control buttons -->
        <div class="recorder">
            <button class="start-recording" onmousedown="FWRecorder.record('audio', 'audio.wav');" onmouseup="FWRecorder.stopRecording('audio');">
                <img src="static/images/record.png" alt="Record">
            </button>
            <div class="level">
                <div class="progress"></div>
            </div>
            <button class="start-playing" onclick="FWRecorder.playBack('audio');" title="Play">
                <img src="static/images/play.png" alt="Play"/>
            </button>
            <div id="flashcontentwrapper">
                <div id="flashcontent" >
                    <p>Your browser must have JavaScript enabled and the Adobe Flash Player installed.</p>
                </div>
            </div>
        </div>
    </section>



    <div align="center">
        <div class="audio-box">
            <p0 class="audio-text">audio-wav</p0>
            <Audio class = "audio0" id="audio-wav"  src="/static/audio/test.wav" controls="controls">No suport wav type</Audio>
            <a id="audio-wav-link" href="http://www.microsoft.com/">audio-wav</a>
        </div>
        <div class="audio-box">
            <p0 class="audio-text">audio-mp3</p0>
            <Audio class = "audio0" id="audio-mp3"  src="/static/audio/test.mp3" controls="controls">No suport mp3 type</Audio>
        </div>
        <div class="audio-box">
            <p0 class="audio-text">audio-flac</p0>
            <Audio class = "audio0" id="audio-flac"  src="/static/audio/test.flac" controls="controls">No suport flac type</Audio>
        </div>
        <div class="audio-box">
            <p0 class="audio-text">audio-ogg</p0>
            <Audio class = "audio0" id="audio-ogg"  src="/static/audio/test.ogg" controls="controls">No suport ogg type</Audio>
        </div>
    </div>
</div>

</body>
</html>